<%= form_for(@genre) do |f| %>
  <% if @genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
      <% @genre.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul> 
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :aka %><br />
    <%= f.text_field :aka %>
  </div>
  <div class="field">
    <%= f.label :kind %><br />
    <%= f.select :kind, options_for_select(Genre.kinds, @genre.kind.to_i), {:selected => @genre.kind.to_i }%> 
  </div>
  <div class="field">
    <%= f.label :super_genre %><br />
    <%= f.select :super_genre_id, (Genre.find(:all, :conditions => ["kind = ?", Genre::SUPER_GENRE])).map {|r| [r.name,r.id] }, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :time_of_inception %><br />
    <%= f.text_field :time_of_inception %>
  </div>
  <div class="field">
    <%= f.label :cultural_origins %><br />
    <%= f.text_field :cultural_origins %>
  </div>
    <div class="field">
    <%= f.label :wikipedia %><br />
    <%= f.text_field :wikipedia %>
  </div>
<br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% unless @genre.new_record? %>
  <table class="relationships">
    <tr>
    <td class="origins">
      <h5>Origin Genres</h5>
      <div id="current_genres">
        <%= render :partial => "current_origins" %>
      </div>
      <h5>Available Genres</h5>
      <div id="available_genres">
        <%= render :partial => "available_origins" %>
      </div>
    </td>

    <td class="children">
      <h5>Current Children</h5>
      <div id="current_children">
        <%= render :partial => "current_children" %>
      </div>
      <h5>Available Children</h5>
      <div id="available_children">
        <%= render :partial => "available_children" %>
      </div>
    </td>

    <td class="tracks">
      <h5>Current Associated Tracks</h5>
      <div id="current_tracks">
        <%= render :partial => "current_tracks" %>
      </div>
      <h5>Available Tracks</h5>
      <div id="available_tracks">
        <%= render :partial => "available_tracks" %>
      </div>
    </td>
  </tr>

  </table>
<% end %>