<%= form_for(@genre) do |f| %>
  <% if @genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
      <% @genre.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :time_of_inception %><br />
    <%= f.text_field :time_of_inception %>
  </div>
  <div class="field">
    <%= f.label :cultural_origins %><br />
    <%= f.text_field :cultural_origins %>
  </div>
  <% Track.all.each do |track| %>
           <%= check_box_tag "genre[track_ids][]", "#{track.id}", @genre.tracks.include?(track) %> <%= track.name %> | <%= track.artist.name %>
           <br />
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<% if @genre.tracks.size > 0 %>
  List of tracks currently associated with genre: <br /> <br />
  <% @genre.tracks.each do |track| %>

    <%= track.name %> | <%= track.artist.name %> <br />
  <% end %>
<% end %>