<br />
<br />
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @genre.name %>
</p>
<p>AKA:</b>
  <%= @genre.aka %>
</p>
<p>Kind:</b>
  <%= @genre.kind_name %>
</p>
  <b>Description:</b>

<div style="max-height: 200px; overflow-y: auto;">
  <%= @genre.description.html_safe %>
</div>
<p>
  <b>Category:</b>
  <%= @genre.category.name if @genre.category_id %>
</p>

<p>
  <b>Decade:</b>
  <%= @genre.decade %>
</p>

<p>
  <b>Cultural origins:</b>
  <%= @genre.cultural_origins %>
</p>
<p>
  <b>Wiki:</b>
  <%= @genre.wikipedia %>
</p>
<p>
  <b>Super Genre:</b>
  <%= @genre.super_genre.name if @genre.super_genre %>
</p>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>

<br />
<% if @genre.tracks.size > 0 %>
  List of tracks currently associated with genre: <br /> <br />
  <% @genre.tracks.each do |track| %>

    <%= track.name %> | <%= track.artist.name %> <br />
  <% end %>
<% end %>