<%= form_for(@track) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :artist %><br />
    <%= f.collection_select :artist_id, Artist.all, :id , :name %>
    <span class="artist"></span>
  </div>
  <div class="field">
    Youtube must be the Video's viewing URL<br/>
    Vimeo and Soundcloud must be the Embedding Code.<br/>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br />
<br />
Assign New Artist to this Track
<% if @artist %>
<%= form_for(@artist, :remote => true) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>  
  <div class="field">
    <%= f.label :wikipedia %><br />
    <%= f.text_field :wikipedia %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<script type="text/javascript">
  $(function(){
    $('#new_artist').bind('ajax:success', function(evt, data, status, xhr){
      // reset artist fields
      $(this).find("input").val("");
      $(this).find("input[type='submit']").val("Create Artist");


      data = JSON.parse(data);
      // update the track artist data stuff
      var selected = data.artist.id + "";

      // remove dropbox thing
      $("#track_artist_id").remove();
      $("span.artist").text(data.artist.name);
      $("span.artist").parent().append("<input id=\"track_artist_id\" name=\"track[artist_id]\" type=\"hidden\" value=\"" + data.artist.id + "\"/>")
    });
  });
</script>

<% end %>