<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @track.name %>
</p>

<p>
  <b>Artist:</b>
  <%= @track.artist.name %>
</p>

<p>
  <b>Link:</b>
  <%= @track.link %>
</p>


<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
