<div class="search_container">
	<%= text_field_tag 'search', nil, :placeholder => 'Search...' %>
</div>


<div class="genres">
	<% @genres.each do |genre| %>
		<div class="genre">
			<span class="attribute" data-attr="name">
				<%= genre.name %>
			</span>
			<div class="details">
				<span class="attribute" data-attr="aka">
					<%= genre.aka %>
				</span>
				<span class="attribute" data-attr="description">
					<%= genre.description %>
				</span>
				<br />
				<span class="instructions">
					Click a track to listen to this genre:
				</span>

				<div class="examples">
					<div class="track_list">
						<% genre.tracks.each do |track| %>
							<span class="track" data-embed-url="<%= track.url.gsub("watch?v=", "embed/") %>">
								<span class="name">
									<%= track.name %>
								</span> |
								<span class="artist">
									<%= track.artist.name %>
								</span>
							</span>
						<% end %>
					</div>
				</div>
				<div class="theater">

				</div>
			</div>
		</div> 
	<% end %>
</div>

