<script type="text/javascript">
	var genres = <%= @data.html_safe %>;
	var links = <%= @connections.html_safe %>;
	var nodes = <%= @nodes.html_safe %>;
</script>

<div class="debug_panel">

</div>

<div class="stop_playback">
	Stop Music
</div>

<div class="search_container">
	<%= text_field_tag 'search', nil, :placeholder => 'Search...' %>
</div>
<div class="interface_options">
	<a href="#" class="hide">Hide Interface</a>
</div>


<div class="genre_details super_container" style="display: none;">
	<div class="background"></div>
	<div class="container">
		<div class="content">
			<div class="header">
				<span class="name">

				</span>
				<span class="close">
					[X] Close
				</span>
			</div>
			<div class="body">
				<div class="description">

				</div>
				<span class="wiki">
					<a href="#">Wikipedia Info</a>
				</span>
				<span class="example_title"> Examples </span>
				<div class="examples">

				</div>
				<div class="theater">

				</div>
			</div>
		</div>
	</div>
</div>


<div class="information">
	<div class="welcome">
		<h2>Electronic Music Genre Graph</h2>
		<div class="authors">
			By:
			<span class="author">
				L. Preston Sego III
			</span>
			<span class="author">
				Evan Kirsch
			</span>
		</div>
		<div class="development_info">

		</div>
	</div>
	<div class="disclaimer">
		<h4>Disclaimer:</h4>
		<div class="claimer">
			We don't claim any of these relationships or examples of genres to be fact. But since we know more than you do (the reason why you are here), it's best you just take our word for it. <br />
			=D
		</div>
	</div>
	<div class="instructions_container">
		<h4>Instructions:</h4>
		<div class="instructions">
			<p>Click on a node to view details about the genre.</p> 
			<p>Moving your cursor to the edge of the screen will scroll the canvas in that direction</p>
		</div>
	</div>
	<% unless user_signed_in? %>
		<div class="signin">
			<%= link_to "Sign In", new_user_session_path %> | 
			<%= link_to "sign in with google", user_omniauth_authorize_path(:google), :method => :post %>
		</div>
	<% end %>
</div>


