<!DOCTYPE html>
<html>
<head>
  <title>GenreMap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
	<div class="toolbar">
		<% @toolbar.each do |item, path| %>
			<span class="toolbar_item">
				<%= link_to item, path %>
			</span>
		<% end %>
		<span width="70px"></span>
		<span class="toolbar_item">
			<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
		</span>
	</div>
<% end %>


<%= yield %>

</body>
</html>
